<h2>Add a Celebrity to the database</h2>

{{#if error}}
<div class="warning">
    <p>An error has occurred: {{error.message}}</p>
    <p>Please correct the issue and then try to save your entry again.</p>
</div>
{{/if}}

<form action="" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="celebrity-name-input" {{#if celebrity}}value="{{celebrity.name}}"{{/if}}>
    </div>
    <div>
        <label for="occupation">Occupation:</label>
        <select name="occupation" id="celebrity-occupation-input">
            <option selected disabled value="-1">Pick an Occupation</option>
            {{#each occupationOptions}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>
    <div>
        <label for="catchphrase">Catchphrase:</label>
        <input type="text" name="catchphrase" id="celebrity-catchphrase-input" {{#if celebrity}}value="{{celebrity.catchphrase}}"{{/if}}>
    </div>
    <button>Add</button>
</form>