<h2>Add a Movie to the database</h2>

{{#if error}}
<div class="warning">
    <p>An error has occurred: {{error.message}}</p>
    <p>Please correct the issue and then try to save your entry again.</p>
</div>
{{/if}}

<form action="" method="POST">
    <div>
        <label for="title">Title:</label>
        <input type="text" name="title" id="movie-title-input" {{#if movie}}value="{{movie.title}}"{{/if}}>
    </div>

    <div>
        <label for="genre">Genre:</label>
        <input type="text" name="genre" id="movie-genre-input" {{#if movie}}value="{{movie.genre}}"{{/if}}>
    </div>

    <div>
        <label for="plot">Plot:</label>
        <input type="text" name="plot" id="movie-plot-input" {{#if movie}}value="{{movie.plot}}"{{/if}}>
    </div>
    <div>
        <label for="cast">Actors:</label>
        <select name="cast" id="movie-actor-input" multiple>
            {{#each actorOptions}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    <button>Add</button>
</form>